<!DOCTYPE html>
<html>
<head>
  <title>SongSpotting</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{ url_for('static',filename='images/music.ico') }}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css">  
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-48341480-3', 'auto');
    ga('send', 'pageview');
  </script>

</head>


<body background="{{ url_for('static',filename='images/bg_img.jpg') }}">

<script>
$(document).ready(function() {
$(function() {
    $('#contactForm').submit(function(e) {
        e.preventDefault();
        $('#contactformModal').modal('hide');
        $.ajax({
            url: "{{ url_for('addContactForm') }}",
            data: $('#contactForm').serialize(),
            type: 'POST',
            success: function(response) {
              window.location.reload(true);
            }
        });
        
    });
});
});
</script>

  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="masthead clearfix" style="color:white" align="left">
          <div class="inner">
            <h1 class="masthead-brand">SongSpotting</h1>
            <nav>
              <ul class="nav masthead-nav">
               <!-- <li class="active"><a href="#">Home</a></li> -->
               <li><a href="#" data-toggle="modal" data-target="#howItWorksModal">How It Works</a></li>
               <li><a href="#" data-toggle="modal" data-target="#contactformModal">Contact Us</a></li>
              </ul>
            </nav>
          </div>
        </div>

    <!-- How It Works Modal -->
    <div class="modal fade" id = "howItWorksModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" align="center" style="background-color: #565656; color:white">
      	<div class="modal-body">
	        We use Spotify's music recommendation engine to generate playlists for you based on your listening habits (favorite artists or songs) or your preferred genres.<br><br>All you have to do is login with your Spotify account and tell us what kind of playlists we should make for you.<br><br>We will add then to you Spotify account and update them every day!
    		</div>

        </div>
      </div>
    </div>


    <!-- Contactform Modal -->
    <div class="modal fade" id = "contactformModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" align="center" style="background-color: #565656; color:white">
          <h3><br>Leave us a message!<br><br></h3>
         
          <form id="contactForm" method="post" role="form">
            <div class="form-group">
              <div class="col-10">
                <input class="form-control" type="text" name="email" placeholder="name@example.com" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-10">
                <textarea class="form-control" name="comment" rows="3" placeholder="Comments" required></textarea>
              </div>
            </div>

             <button type="submit" class="btn btn-success">Submit</button>
            <br>
            <br>
          </form>

        </div>
      </div>
    </div>

  <!-- Footer -->
<div class="mastfoot">
  <div class="inner">
    <p>Made with <span style="color:red;">&hearts;</span> by <a href="https://github.com/sathyanmurugan" target="_blank">Sathyan</a> and <a href="https://github.com/theindependentwolf" target="_blank">Aniruth</a></p>
  </div>
</div>


{% block body %}
{% endblock %}

 </div>
  </div>
 </div>

</body>
</html>