{% extends "base.html" %}
{% block body %}



<div class="inner cover">
  <h1 class="cover-heading">My Playlists<br></h1>
  <div class="container-fluid">
	<button id="createNewPlaylistBtn" type="button" class="btn btn-success" data-toggle="modal" data-target="#addPlaylistModal">
	  Create New Playlist
	</button>
	</div>
<div class="container-fluid">
<div id="playlistTableDiv">
<table class="table table-fixed">

  <tbody>
    {% if playlists|length > 0 %}
    <tr>
      <th class="text-center">Playlist Name</th>
      <th class="text-center">Based On</th>
      <th class="text-center">Attributes</th>
      <th class="text-center"></th>
    </tr>
    {% endif %}
  {% for playlist in playlists %}
    <tr>
      <td>{{ playlist.playlist_name }}</td>
      <td>{{ playlist.playlist_seed.replace('_',' ').title() }}</td>
      <td>{{ playlist.seed_attributes.replace('_',' ').title() }}</td>
      <td><a href="https://open.spotify.com/user/{{ playlist.user_id }}/playlist/{{ playlist.playlist_id }}" target="_blank"><button type="button" class="btn btn-success btn-sm">View on Spotify</button></a> <button type="button" class="btn btn-danger btn-sm deletePlaylistButton" value= "{{ playlist.playlist_id }}">Delete</button> </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
</div>
</div>

<script>
$(document).ready(function() {
$(function() {
    $('#createPlaylistForm').submit(function(e) {
        e.preventDefault();
        $('#addPlaylistModal').modal('hide');
        $.ajax({
            url: "{{ url_for('createPlaylist') }}",
            data: $('#createPlaylistForm').serialize(),
            type: 'POST',
            success: function(response) {
              window.location.reload(true);
            }
        });
        
    });
    $('.deletePlaylistButton').click(function() {
        var playlistId = $(this).attr('value');
        $.ajax({
            url: "{{ url_for('deletePlaylist') }}",
            data: JSON.stringify({'playlistId': playlistId}),
            type: 'POST',
            contentType: "application/json",
            success: function(response) {
                window.location.reload(true);
            },
            dataType: "json"
        });
    });

});
});
</script>

<!-- add Playlist Modal -->
<div class="modal fade" id="addPlaylistModal" tabindex="-1" role="dialog">
<div class="modal-dialog">
  <div class="modal-content" align="center" style="background-color: #565656">
    <h3><br>Add A New Playlist<br><br></h3>

    <form id="createPlaylistForm" method="post" role="form">

        <div class="form-group">
          <div class="col-10">
            <input class="form-control" type="text" name="playlist_name" placeholder="Name your playlist" maxlength="30" required>
          </div>
        </div>
        <div class="form-group">
            <div class="col-10">
			  <select class="form-control" name="seed_type" required>
			    <option value="" disabled selected>Find songs based on...</option>
			    <option value="favorite_tracks">My most played tracks</option>
			    <option value="favorite_artists">My most played artists</option>
			  <!-- <option value="genre">genres</option>
			    <option value="myPlaylist">one of my playlists</option> -->
			  </select>
			</div>  
		</div> 
        <div class="form-group">
            <div class="col-10">
			  <select class="form-control" name="time_frame" required>
			    <option value="" disabled selected>Select Timeframe</option>
			    <option value="short_term">Short Term</option>
			    <option value="medium_term">Medium Term</option>
			    <option value="long_term">Long Term</option>
			  <!-- <option value="genre">genres</option>
			    <option value="myPlaylist">one of my playlists</option> -->
			  </select>
			</div>  
		</div> 		

         <button id='createPlaylistSubmitButton' type="submit" class="btn btn-success">Submit</button>
      <br>
      <br>
    </form>

  </div>
</div>
</div>


</div>

{% endblock %}
