{% extends "base.html" %}
{% block body %}


<script>
$(function() {
    $('button').click(function() {
        $.ajax({
            url: '/createPlaylist',
            data: $('#123').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});	
</script>

     <div class="container">
 
         <form class="form-signin" action="/factory" method="post" role="form" id="123">
             <h2 class="form-signin-heading">Please Sign Up </h2>
             <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
             <input type="password" name="password" class="form-control" placeholder="Password" required>
 
             <button class="btn btn-lg btn-primary btn-block" type="button">Register </button>
         </form>
      
     </div>


{% endblock %}
