{% extends "base.html" %}
{% block body %}

<div class="inner cover">
  <h1 class="cover-heading">Curated Playlists For You. Every Day.</h1>
    <div class="container" style="width: 40%;">
       <p class="lead"><br>Finding good music is hard and takes up a lot of time and effort. Why not let Songspotting do all the work?<br><br>Tell us what music you like and we'll make playlists out of it for you. Every Day.</p>
    </div>
  <p class="lead">
    <a href="{{ url_for('login') }}" class="btn btn-lg btn-success">Login with Spotify</a>
  </p>
</div>

{% endblock %}
